.archive-view {
  background-color: $color__background-archive;

  .post {
    position: relative;
    background-color: white;
  }

  .post-content {
    padding: 1em 2em 3em;
  }

  .continue-reading {
    position: absolute;
    right: 40px;
  }

  .comments-link {
    padding-right: 1em;
  } 

  .index-image {
    img {
      display: block;
      margin: 0 auto;
    }

    a {
      &:focus > img,
      &:hover > img {
        opacity: .8;
      }
    }
  }
}