$color__first-std: #eba09d;
$color__first-strong: #f79d81;
$color__first-light: #fbc1a2;
$color__second-std: #612c6b;
$color__second-light: #c46c98;
$color__second-strong: #280f36;
$color__interactive: #ff9a7b;
$color__interactive-strong: #e05d35;
$color__gray-std: #666666;
$color__gray-light: #aaaaaa;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
