.comments-area {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid hsl(0, 0%, 80%);
}

.comments-title {
  font-size: 2em;
}

.comment-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  
  ol {
    list-style-type: none;
  }
}

.comment-body {
  // border-bottom: 1px solid hsl(0, 0%, 80%);
  margin-bottom: 2em;
}

.comment-meta {
  position: relative;
  margin-left: 40px;
  font-size: 85%;
}

.comment-meta,
.comment-form {
  a {
    text-decoration: none;
    border: none;
    color: $color__gray-light;
    
    &:hover,
    &:focus {
      color: $color__gray-std;
    }
  }
}

.comment {
  
  .avatar {
    position: absolute;
    top: 0px;
    left: -40px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
  }
  
  // Styles the threaded comment indent
  .children {
    
    margin-left: 1em;
    padding-left: 0;
    
    @media screen and (min-width: $query__medium) {
      margin-left: 2em;
    }
  }
}

.comment-metadata {
  margin-top: .2em;
  padding-bottom: .5em;
  font-size: .9em;
  line-height: 1em;
  
  a {
    text-decoration: none;
    border: none;
    color: $color__gray-light;
    
    &:hover,
    &:focus {
      color: $color__gray-std;
    }
  }
}

.comment-author {
  font-size: 1.2em;
  line-height: 1.1em;
}

.says {
  font-size: 80%;
}

.comment-content {
  
  a {
    word-wrap: break-word;
    text-decoration: none;
    color: $color__interactive;
    
    &:hover,
    &:focus {
      color: $color__text-main;
    }
  }
}

// .bypostauthor {
// 	display: block;
// }
