.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.entry-header {
  $font-family: $font__sans;
  text-align: center;
}

.entry-title {
	margin: .125em 0 .25em;
  font-size: 2.5em;
  color: $color__text-main;  

	@media screen and (min-width: $query__medium) {
		font-size: 3em;
	}

	//Styling the titles visible in index page
	a { 
		text-decoration: none;
		color: $color__link;

		&:focus,
		&:hover {
			color: $color__link-hover;
		}
	}
}

.entry-meta {
	font-size: 85%;
}

// stylize category links in a single post
.cat-links {

  color: $color__text-main;  

	a {
		text-decoration: none;
		color: $color__link;

		&:focus,
		&:hover {
			color: $color__link-hover;
		}
	}
}

// stylize tags links in a single post
.tags-links {

	a {
		text-decoration: none;
		color: $color__link;

		&:focus,
		&:hover {
			color: $color__link-hover;
		}
	}
}

// stylize author link in a single post
.author {

	a {
		text-decoration: none;
		color: $color__link;

		&:focus,
		&:hover {
			color: $color__link-hover;
		}
	}
}

// stylize posted on link in a single post
.posted-on {

  color: $color__text-main; 

	a {
		text-decoration: none;
		color: $color__link;

		&:focus,
		&:hover {
			color: $color__link-hover;
		}
	}
}

.byline {

  color: $color__text-main;

	&::after {
		content: "|";
		margin: 0 .5em;
	}
}


.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin-top: 1.5em;
  margin-bottom: 0;
}


.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Single post featured image

.post-thumbnail {
  max-width: 100vw;
  // max-height: 600px;
  margin: 0 -1em;
  padding-top: 1em;
  // overflow: hidden;

  @media screen and (min-width: $query__small) {
    margin: 0 -2em;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}
