.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.entry-header {
  $font-family: $font__sans;
  text-align: center;
}

.entry-title {
	margin: .125em 0 .25em;
  font-size: 2.5em;

	@media screen and (min-width: $query__medium) {
		font-size: 3em;
	}

	//Styling the titles visible in index page
	a { 
		text-decoration: none;
		color: $color__interactive;

		&:focus,
		&:hover {
			color: $color__interactive-strong;
		}
	}
}

.entry-meta {
	font-size: 85%;
}

// stylize category links in a single post
.cat-links {

	a {
		text-decoration: none;
		color: $color__gray-light;

		&:focus,
		&:hover {
			color: $color__gray-std;
		}
	}
}

// stylize tags links in a single post
.tags-links {

	a {
		text-decoration: none;
		color: $color__gray-light;

		&:focus,
		&:hover {
			color: $color__gray-std;
		}
	}
}

// stylize author link in a single post
.author {

	a {
		text-decoration: none;
		color: $color__gray-light;

		&:focus,
		&:hover {
			color: $color__gray-std;
		}
	}
}

// stylize posted on link in a single post
.posted-on {

  color: $color__gray-std;  

	a {
		text-decoration: none;
		color: $color__gray-light;

		&:focus,
		&:hover {
			color: $color__gray-std;
		}
	}
}

.byline {

  color: $color__gray-std;

	&::after {
		content: "-";
		margin: 0 .5em;
	}
}


.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: $query__medium;
}


.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
